# dependency directory
node_modules

# coverage directory
coverage

# build by cra
build

# build by vite
dist

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode

# misc
.DS_Store
