# lock the node >=16
# https://docs.npmjs.com/cli/v8/using-npm/config#engine-strict
# https://docs.npmjs.com/cli/v8/configuring-npm/package-json#engines
# https://classic.yarnpkg.com/en/docs/package-json#toc-engines
# https://pnpm.io/package_json#engines
engine-strict=true
